.DS_Store
.data/postgres
node_modules

.nx

.nx/cache

dist
.dist
.test-runs
.nuget
*.log
**/logs/**/*.*
.vs
*.user
*.env
!local.env
!e2e.env
.envrc

**/cypress/downloads


**/*.generated.*
**/.generated
build
_build*
_*-build
_instrumented
_packaged
.packaged
.game-assets

apps/playnite-web/.cache
apps/playnite-web/src/public/entry.worker.js
apps/playnite-web/vite.config.js*
!apps/playnite-web/vite.config.js
apps/playnite-web/logs

.devcontainer/.devpod-internal/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz

**/cypress/videos/
**/cypress/screenshots/
**/visual-regression-tests/**/comparison/
**/visual-regression-tests/**/diff/
**/visual-regression-tests/*report/
.nyc_output

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

.next

default.profraw
