.DS_Store
.data/postgres
node_modules

.nx

.nx/cache

.dist
.test-runs
.nuget
*.log
.vs
*.user
*.env
!local.env
!e2e.env

**/cypress/downloads


**/*.generated.*
**/.generated
build
_build*
_instrumented
_packaged
.packaged

apps/playnite-web/.cache
apps/playnite-web/src/public/entry.worker.js
apps/playnite-web/vite.config.js*
!apps/playnite-web/vite.config.js
**/game-assets/**

.devcontainer/.devpod-internal/

.yarn/**/*darwin*
.yarn/**/*linux*

**/cypress/videos/
**/cypress/screenshots/
**/visual-regression-tests/**/comparison/
**/visual-regression-tests/**/diff/
**/visual-regression-tests/*report/
.nyc_output

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

