{
  "report-dir": ".test-runs/cypress",
  "all": true,
  "include": ["src/**", "app.ts", "server.ts"],
  "exclude": [
    "cypress",
    "testUtils",
    "__tests__",
    "__component_tests__",
    "../../.yarn/**"
  ]
}
