{
  "report-dir": "../.test-runs/e2e",
  "all": true,
  "sourceMap": true,
  "exclude": [
    "*.js",
    ".test-runs/**/*.*",
    "scripts/**/*.*",
    "node_modules/**/*.*",
    "testUtils/**/*.*",
    "**/interfaces.ts",
    "src/testSetup.ts",
    "jest.config.e2e.mjs",
    "__integration_tests__/**/*.ts"
  ],
  "reporter": ["lcov", "json", "text", "html", "clover"],
  "instrument": false,
  "cache": false
}
