<appSettings>
    <add key="UpdateUrl" value="https://www.playnite.link/update/" />
    <add key="UpdateUrl2" value="https://api.playnite.link/update/" />
    <add key="ServicesUrl" value="https://api.playnite.link/api" />
    <add key="DocsRootUrl" value="https://api.playnite.link/docs/" />
    <add key="UpdateBranch" value="stable" />
    <add key="ThrowAllErrors" value="False" />
    <add key="OfflineMode" value="False" />
    <add key="PipeEndpoint" value="net.pipe://localhost/PlaynitePipe" />
    <add key="AppBranch" value="master" />
</appSettings>