services:
  db:
    image: postgres:13.22
    network_mode: host
    environment:
      - POSTGRES_USER=${DB_USER:-playnite}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped

  mqtt:
    image: eclipse-mosquitto:2.0.18
    network_mode: host
    volumes:
      - mqtt_config:/mosquitto/config
    restart: unless-stopped

  playnite-web:
    image: ghcr.io/andrew-codes/playnite-web-app:local
    network_mode: host
    environment:
      - PORT=${APP_PORT:-3000}
      - HOST=${APP_HOST:-localhost}
      - DATABASE_URL=postgres://${DB_USER:-playnite}:${DB_PASSWORD}@localhost:5432/games?schema=public&pgbouncer=true&connection_limit=${DB_CONNECTION_LIMIT:-12}
      - SECRET=${APP_SECRET}
      - DISABLE_CSP=${DISABLE_CSP:-false}
      - CSP_ORIGINS=${CSP_ORIGINS}
      - ADDITIONAL_ORIGINS=${ADDITIONAL_ORIGINS}
      - MQTT_HOST=localhost
      - MQTT_PORT=1883
      - MQTT_USERNAME=${MQTT_USERNAME}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
    volumes:
      - ../../apps/playnite-web/public/cover-art:/opt/playnite-web-app/public/cover-art
    depends_on:
      - db
      - mqtt
    restart: unless-stopped

  # playnite-web-sync-library-processor:
  #   image: ghcr.io/andrew-codes/sync-library-processor:local
  #   network_mode: host
  #   environment:
  #     - MQTT_HOST=localhost
  #     - MQTT_PORT=1883
  #     - MQTT_USERNAME=${MQTT_USERNAME}
  #     - MQTT_PASSWORD=${MQTT_PASSWORD}
  #     - DATABASE_URL=postgres://${DB_USER:-playnite}:${DB_PASSWORD}@localhost:5432/games?schema=public
  #     - PORT=${PROCESSOR_PORT:-3001}
  #     - COVER_ART_PATH=/opt/playnite-web/game-assets/cover-art
  #   volumes:
  #     - games_assets:/opt/playnite-web/game-assets
  #   depends_on:
  #     - playnite-web
  #   restart: unless-stopped

volumes:
  games_assets:
  mqtt_config:
