name: "E2E Coverage"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release-*
      - next

permissions:
  contents: read

jobs:
  e2e_coverage:
    name: E2E Coverage (Playnite Web App)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Extract node version from package.json
        uses: sergeysova/jq-action@v2
        id: node_version
        with:
          cmd: jq .engines.node package.json -r | sed -e 's/\"//g' | sed -e 's/>=//g'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ steps.node_version.outputs.value }}"
      - name: Install docker-compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version
      - name: Use Yarn
        run: corepack enable
      - name: Install dependencies
        run: yarn
        env:
          YARN_ENABLE_HARDENED_MODE: "0"
      - name: Run E2E tests with coverage
        run: yarn nx run playnite-web-app:test/e2e/coverage
        env:
          NODE_ENV: production
          LOG_LEVEL: info
          PLATFORM: linux/amd64
          SPLIT: ${{ strategy.job-total }}
          SPLIT_INDEX: ${{ strategy.job-index }}
      - uses: codecov/codecov-action@v5
        if: always()
        with:
          flags: e2e-tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
